<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>404 - Not found</title>
        <!-- Google font -->
        <link href="https://fonts.googleapis.com/css?family=Cabin:400,700" rel="stylesheet">
        <!-- Custom stlylesheet -->
        <link type="text/css" rel="stylesheet" href="~/css/style.css" />
    </head>

    <body>
        <div id="notfound">
            <div class="notfound">
                <div class="notfound-404">
                    <div></div>
                    <h1>404</h1>
                </div>
                <h2>Not found</h2>
                <p>@ViewBag.Message</p>
                <a asp-controller="Home" asp-action="Index" class="btn btn-link">Back to search</a>
            </div>
        </div>
    </body>
</html>